.container{
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding: 60px 0 60px 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    
    .container{
      width: 768px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
    .section{
        padding: 94px 0 94px 0;
    }
}

